<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gifs.collection">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.gifs.collection.GifApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gifs.collection.MainActivity"
            android:label="Search for gifs"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".view.IntroActivity"
            android:theme="@style/Theme.Intro" />


        <activity
            android:name="com.gifs.collection.view.GifDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gifs.collection.view.SearchActivity"
            android:parentActivityName="com.gifs.collection.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gifs.collection.view.AboutActivity"
            android:label="About"
            android:parentActivityName="com.gifs.collection.MainActivity"
            android:theme="@style/AppTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="131afc67f163658ef39eb9486750238c3b860606" />
    </application>

</manifest>